/www/*.log
/www/.htaccess
/www/sitemap.xml
/www/sitemap.xml.gz
/www/wp-config.php
/www/wp-content/advanced-cache.php
/www/wp-content/backup-db/
/www/wp-content/backups/
/www/wp-content/blogs.dir/
/www/wp-content/cache/
/www/wp-content/upgrade/
/www/wp-content/uploads/
/www/wp-content/wp-cache-config.php
/nbproject
